body {
  background-color: #222;
  height: 100vh;
  width: 100vw;
}
main {
  width: 100%;
  height: 100%;
  background-color: #c2c2c2;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 3fr 2fr;
}
div {
  background-color: var(--main-color-blue);
  border: 2px solid #000;
}
.a1 {
  grid-area: 1 / 1 / 2 / 3;
}
.a2 {
  grid-area: 2 / 1 / 3 / 2;
}
.a3 {
  grid-area: 2 / 2 / 3 / 3;
}
.a4 {
  grid-area: 3 / 1 / 4 / 3;
}
